* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #495057;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". container metrics-values";
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: container;
}

#container-metrics {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: metrics-values;
    padding: 32px;
}

.card-metrics {
    background: #e9ecef;
    border-radius: 8px;
    padding: 12px;
}

.title {
    color: #212529;
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
}

#metrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#metrics p {
    color: #212529;
    font-weight: 700;
    font-size: 16px;
}

#metrics .print-color {
    border-radius: 8px;
    width: 50px;
}